#head2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: calc((5vw+5vh)/2);
    text-decoration: none;
    color:black;
}
#p1{
    float:right;
    margin:6%;
    padding:2%;
    background:white;
    border-radius:10px;
}
#p2{
    margin-left:10%;
    margin-top:10%;
    padding:0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    margin-bottom: 0px;
}
#p3{
    font-size: calc((1.3vw+1.3vh)/2);
    light-height:9px;
     margin-top: 5%;
    margin-left: 1%;
    margin-right: 5%;
    
}
.dot {
    margin:15 10%;
    height: 5vmin;

    width: 5vmin;
    background-color: #835b2b;
    border-radius: 50%;
    display: inline-block;
  }
  #no1{
      color:rgb(79, 0, 182);
      margin-left:10%;
  }
#banner1{
display: flex;
    font-size: 0.8vw;
margin-left:10%;

  }
#banner2{
    display: flex;
    font-size: calc((1vw+1vh)/2);
    margin-left:10%;
    
    
  }
  #nn2{
    font-size: calc((1.5vw+1.5vh)/2);
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 25%;
    color: rgb(79, 0, 182);
  }
  #nn3{
    font-size: calc((1.5vw+1.5vh)/2);
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 23%;
    color: rgb(79, 0, 182);
  }
  #nn4{
    font-size: calc((1.5vw+1.5vh)/2);
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 25%;
    color: rgb(79, 0, 182);
    
  }
